@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.dongle-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dongle-bold {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-image: url(images/bg.svg);
  background-color: #097044;
  background-size: cover;
  overflow: hidden;
  display: flex;
}

.pocket {
  fill:#FFF5E8;
  filter: drop-shadow(30px 50px #3DB7AC)
}

#time,
#date,
#time2,
#date2,
.circle,
#toolTipText,
.backButtonArrow {
  fill: #FFF5E8;
}

#toolTipText {
  font-size: 70px;
}

#icons {
  fill: transparent;
  cursor: pointer;
}

.circleEmpty,
#backButton  {
  fill:#E7DDD0;
  cursor: pointer;
}

.toolTip,
.circleEmpty:hover,
.iconGroup:hover,
.circle:hover {
  fill: #3DB7AC;
}

#time,
#time2 {
  font-size: 120px;
  text-anchor: middle;
}

#date,
#date2 {
  font-size: 115px;
  text-anchor: middle;
}

.backButtonText {
  font-weight:700;
  font-size:70px;
  fill:#766E53;
  text-anchor: start;
  cursor: pointer;
}

#passportBG {
  width: 100%;
  height:100%;
  fill:#C0BBA8;
  fill-opacity:0.5;
}

/*About*/
#pocketExpanded,
#About {
  display: none;
}

.residentRep,
.passportText,
.passportHeader {
  fill:#74664B;
}

.residentRep {
  font-size: 80px;
}

.residentRepOutline, 
.passportLine {
  fill:none;
  stroke:#74664B;
  stroke-width: 1.38px;
  stroke-miterlimit:1.76829;
}

#copyright {
  fill:#DFA640;
  stroke:#FFF5E8;
  stroke-width:10px;
}

.copyrightLine {
  stroke:#FFF5E8;
  stroke-width: 7px;
}

.passportHeader {
  font-size: 100px;
}

.passportText {
  font-size:54px;
}

.passportDate {
  fill: #B5AD95;
  font-size:54px;
}
